:root {
    --body-bg-color:linear-gradient(135deg, #b2ebf2 0%, #caeef3 50%, #ffffff 100%);
    --h2-color: black;
    --p-color: black;
    --nav-link-color: #444;
    --navbar-toggler-color: #444;
    --active-color: black;
    --label-color: black;
}
input{
    background: darkblue;
}
body.dark {
    --body-bg-color: linear-gradient(135deg, #08282e 0%, #004d40 50%, #000000 100%);
    --h2-color: white;
    --nav-link-color: #b1b1b3;
    --p-color: white;
    --navbar-toggler-color: #cdcaca;
    --active-color: white;
    --fa-bars-color: #cdcaca;
    --label-color: white;
}

.logo {
    content: url("../photos/Light_Naum.png");
}

body.dark .logo {
    content: url("../photos/Dark_Naum.png");
}



body {
    /*background: linear-gradient(to bottom, #e0f7fa, #ffffff); !* светло сина до бела *!*/
    background: var(--body-bg-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: border-color 0.3s;

}

label {
    color: var(--label-color);
    /*color: red;*/
}

.fa-bars {
    color: var(--fa-bars-color);
}


.section {
    transition: opacity 0.5s ease;
    opacity: 0;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    pointer-events: none;

}

.section.active {
    opacity: 1;
    z-index: 1;
    pointer-events: auto;
}


h2 {
    /*color: black;*/
    color: var(--h2-color)
}

h4 {
    /*color: black;*/
    color: var(--h2-color)
}

ul li {
    color: var(--h2-color)
}

.navbar-toggler {
    border-color: var(--navbar-toggler-color);
}

.nav-link {
    font-weight: bold;
    text-decoration: none;
    color: var(--nav-link-color);
    font-size: 18px;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s, color 0.3s;
}

.navbar-nav .nav-link.active {
    color: var(--active-color);
}

.nav-link:hover {
    color: #007bff;
}

.nav-link.active {
    color: #007bff;
    border-bottom: 3px solid #007bff;
}

.nav-link {
    cursor: pointer;
}

.fa-sun {
    color: var(--h2-color);
}

ul.nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 0;
}

p {
    padding: 15px;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    /*background-color: rgba(255, 255, 255, 0.6);*/
    /*color: black;*/
    color: var(--p-color)
}

.icon-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.icon-wrapper .tooltip-text {
    visibility: hidden;
    background-color: #fff;
    color: #000;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    z-index: 10;
    white-space: nowrap;
}

.icon-wrapper:hover .tooltip-text {
    visibility: visible;
}

.icon-wrapper i {
    background-color: #007bff;
    color: white;
    padding: 15px;
    border-radius: 50%;
    font-size: 20px;
}

.dark-light {
    position: absolute;
    left: -5%;
}
#contact_me{
        width: 150%;
}
@media (max-width: 768px) {
    .dark-light {
        position: static;
        top: 65px;
        left: 85%;
    }
    #contact_me{
        width: 150%;
    }
    .container-fluid{
        padding-bottom: 20px;
    }
    .mobile{
        padding-bottom: 40px;
    }
    .navbar{
        padding-top: 20px;
    }
}

